/* 
============
Community 
============ */

/* Emulator status - https://fategrandorder.fandom.com/wiki/Emulator_Status */

span[style="color:Red;"] {
  color: red !important;
}

span[style="color:Yellow;"] {
  color: yellow !important;
}

span[style="color:Green;"] {
  color: green !important;
}

/* Achievements */
.LeaderboardTable .rank span {
  background-image: none !important;
}

#about-achievements {
  background-image: none !important;
}

.WikiaRail .module {
  background: #000000 !important;
}

/* Forum */
.Forum .activity,
.Wall .comments .SpeechBubble .msg-title a,
.WikiaPage .page-header__page-subtitle nav,
div[class*="EditedBy"],
div[class="license-description"] {
  color: #8a8888 !important;
}

/* Discussion */

div#ember4 {
  background-color: #363535 !important;
}

.site-head-container {
  min-height: 2.2rem !important;
}

.discussion-fieldset legend {
  color: #fcf9f9 !important;
}

.discussion-wrapper,
.discussion.forum,
.post-detail,
.post-entry-point__items,
.CategorySelect.articlePage,
.inline-wrapper .user-avatar,
.inline-editor__floating-container,
.editor-toolbar,
/* Comment section */
div[class*="Comment"],
div[class*="Reply"] {
  background-color: #000000 !important;
}

/* Add a comment about x */
div[class*="InlineEntityFormWrapper"],
button[class*="LoadMore"] {
  background-color: #000000 !important;
  color: #fcf9f9 !important;
}

.has-gradient .post-content__body::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff00), color-stop(95%, #000000)) !important;
  background: linear-gradient(to bottom, #ffffff00 50%, #000000 95%) !important;
}

.post-content {
  color: #fcf9f9 !important;
}

.discussion .load-older {
  background-color: #202020 !important;
}