
/* 
============
Servant page
============ 
*/

.ServantInfoWrapper {
    background-color: #000000 !important;
}

/* Start: Make glyph visible  */
div.ServantInfoStatsWrapper table.closetable,
div.ServantInfoStatsWrapper table.closetable tbody tr th,
div.ServantInfoStatsWrapper table.closetable tbody tr td {
    background-color: transparent !important;
}

table.ServantInfoNav,
table.ServantInfoNav tbody tr,
table.ServantInfoNav tbody tr td {
    background-color: transparent !important;
}
/* End: Make glyph visible */

/* Remove 
atlantis-bg: https://fategrandorder.fandom.com/wiki/Achilles
anastasia-bg: https://fategrandorder.fandom.com/wiki/Atalanta_(Alter)
*/
div[class="atlantis-bg"],
div[class="anastasia-bg"] {
    background: none !important;
}

.pi-tab-link {
    background-color: #000000 !important;
}

.pi-image-collection {
    background-color: #000000 !important;
}

.pi-image-collection-tabs {
    background-color: #000000 !important;
}
.pi-image {
    background-color: #000000 !important;
}

/* Buster NP */
td[style="background-color: #F6DDE9"] {
    background-color: #a50e0e !important;
}

/* Quick NP */
td[style="background-color: #CEFFDC"] {
    background-color: #055c0d !important;
}

/* Arts NP */
td[style="background-color: #D9EAF6"] {
    background-color: #004aaa !important;
}

/* Overcharge effect */
td[style*="background-color:#f6dde9;"] {
    background-color: #580808 !important;
}
td[style*="background-color:#e5ccd8;"] {
    background-color: #580808 !important;
}
th[style*="background-color:#e5ccd8;"] {
    background-color: #580808 !important;
}