/*   Wikia  
================ */

/* Fix share button icon*/
svg.wds-icon.wds-icon-small {
    color: #fcf9f9 !important;
}

/* Background */
#WikiaPageBackground, .WikiaPageBackground {
    background-color: #000000 !important;
    background: #000000 !important;
}

.WikiaTopAds {
    /*background-color: #1F2457 !important;*/
    display: none !important; /* Found this to be better solution */
}

.WikiaArticle, .article-comm-text {
    background-color: #000000 !important;
    color: #fcf9f9 !important;
}

/* Comments */
.speech-bubble-message {
    background-color: #000000 !important;
}

.WikiaArticle pre {
    background-color: #222222 !important;
    border: 1px solid #dedede !important;
}

/* I hate these videos with passion */
.featured-video__wrapper {
    display: none !important;
}

#WikiaAdInContentPlaceHolder {
    display: none !important;
}

/* Recent Wiki Activity Custom Colors*/
/* Fix Sashimi=lol as his color is black */
a[href$="/wiki/User:Sashimi%3Dlol"] {
    color: #ffffff !important;
}

/* Seems like there were many others as well... */
a[href$="/wiki/User:Khanetho417"],
  a[href$="/wiki/Message_Wall:Khanetho417"],
  a[href$="/wiki/User:KatsushikaHokusai"],
  a[href$="/wiki/Message_Wall:KatsushikaHokusai"],
  a[href$="/wiki/User:Ein_Inferno"],
  a[href$="/wiki/Message_Wall:Ein_Inferno"],
  a[href$="/wiki/User:MasterOkabe"],
  a[href$="/wiki/Message_Wall:MasterOkabe"],
  a[href$="/wiki/User:ArthurBestHusbando"],
  a[href$="/wiki/Message_Wall:ArthurBestHusbando"],
  a[href$="/wiki/User:ZokeiR"],
  a[href$="/wiki/Message_Wall:ZokeiR"],
  a[href$="/wiki/User:Rockjuve"],
  a[href$="/wiki/Message_Wall:Rockjuve"],
  a[href$="/wiki/User:Neetohh"],
  a[href$="/wiki/Message_Wall:Neetohh"] {
    color: #ffffff !important;
}

/* Fan Feed */
/* More Fate/Grand Order Wikia */
div.mcf-card.mcf-card-wiki-articles {
    background-color: #000000 !important;
}

/* Fate GO  
================ */

/* Twitter feed */
div.timeline-Widget {
    background-color: #000000 !important;
}

/* Servant page */
.ServantInfoWrapper {
    background-color: #000000 !important;
}

.pi-tab-link {
    background-color: #000000 !important;
}

.pi-image-collection {
    background-color: #000000 !important;
}

.pi-image-collection-tabs {
    background-color: #000000 !important;
}
.pi-image {
    background-color: #000000 !important;
}

/* Buster NP */
td[style="background-color: #F6DDE9"] {
    background-color: #a50e0e !important;
}

/* Quick NP */
td[style="background-color: #CEFFDC"] {
    background-color: #055c0d !important;
}

/* Arts NP */
td[style="background-color: #D9EAF6"] {
    background-color: #004aaa !important;
}

/* Overcharge effect */
td[style="background-color:#f6dde9;"] {
    background-color: #691313 !important;
}
th[style="font-size:85%;background-color:#e5ccd8;"]{
    background-color: #691313 !important;
}
td[style="font-size: 85%;background-color:#e5ccd8;"] {
    background-color: #691313 !important;
}
th[style="font-size: 85%;background-color:#e5ccd8;font-weight:bold;"] {
    background-color: #691313 !important;
}
th[style="font-size: 85%;background-color:#e5ccd8;"] {
    background-color: #691313 !important;
}

/* General elements 
================ */

h1, h2, h3, h4, h5, b, span, .description {
    color: #fcf9f9 !important;
}

/* Dropdown items at the top*/
li.wds-dropdown-level-2 span {
    color: #000000 !important;
    font-weight: bold !important;
}

p {
    color: #fcf9f9 !important;
}

/* Selected tab */
ul.tabs li.selected a {
    background: #000000 !important;
}

th, td {
    background-color: #000000 !important;
    color: #fcf9f9 !important;
}

table {
    background-color: #000000 !important;
}