/*
================
Azur Lane Wiki
================ 
*/

:root {
    --main-background-color: #000000;
    --main-text-color: #fcf9f9;
}

/* Main page
============ */

div#mw-head {
    background-color: var(--main-background-color) !important;
}

.mw-body, .parsoid-body {
    background-color: var(--main-background-color) !important;
    color: var(--main-text-color) !important;
}

/* Search */
.suggestions-results, .suggestions-special {
    background-color: var(--main-background-color) !important;
}

.suggestions-result {
    color: var(--main-text-color) !important;
}

.suggestions-special .special-label {
    color: #b1b1b1 !important;
}

input#searchInput {
    background-color: var(--main-background-color) !important;
    color: var(--main-text-color) !important;
}

.suggestions-special .special-query {
    color: var(--main-text-color) !important;
}

/* Tabs in the head*/
div.vectorTabs ul li {
    background-color: var(--main-background-color) !important;
    background-image: none !important;
    /*
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAO0lEQ…gBjl2f78wd2DVj1+26/h///PfteVMN7zoGebcg1/Y/ZQQAlAUtQCujIJMAAAAASUVORK5CYII=);
    background-image: url(/w/skins/Vector/images/tab-normal-fade.png?1cc52);
    */
}

/* Links in tabs */
div.vectorTabs li.selected a, div.vectorTabs li.selected a:visited {
    color: var(--main-text-color) !important;
    background-color: #1d1d1d !important;
}

div.vectorTabs li a {
    color: #0651c9 !important;
}

/* First box */
.azl_box.green {
    border-color: #9ecf9e !important;
}
.azl_box.green .azl_box_body {
    background: #003100 !important;
}

/* Second box */
.azl_box.blue .azl_box_head,
.azl_box.lavender .azl_box_sub {
    background: #00264d !important;
}
.azl_box.blue .azl_box_sub {
    background: #00264d !important;
}
div.azl_box_title {
    color: var(--main-text-color) !important;
}

/* Chinese server names */
.azl_box.yellow .azl_box_head {
    background: #2b2700 !important;
}
.azl_box.yellow .azl_box_sub {
    background: #665e00 !important;
}
.azl_box.yellow .azl_news_date {
    background: #665e00 !important;
}

div.azl_news_month, div.azl_news_day {
    color: var(--main-text-color) !important;
}

/* Japanese server news */
.azl_box.pink .azl_box_head {
    background: #ff2c4f !important;
}
.azl_box.pink .azl_box_sub {
    background: #f34963 !important;
}
.azl_box.pink .azl_news_date {
    background: #f34963 !important;
}

/* Chinese client links */
.azl_box_head[style="color:#000; background:#dfd77d;"] {
    background: #665e00 !important;
}
.azl_box_body[style="background:#f1edc1;"] {
    background: #2b2700 !important;
}

/* Japanese client links */
.azl_box_head[style="color:#000; background:#ffc0cb;"] {
    background: #f34963 !important;
}
.azl_box_body[style="background:#f5e1e4;"] {
    background: #79222f !important;
}

/* Other links */
.azl_box_head {
    background: #00264d !important;
}
.azl_box_body,
.azl_box.gray .azl_box_sub {
    background: #001a33 !important;
}

/* Ship Page
============ */

table.wikitable {
    background-color: #222 !important;
    color: var(--main-text-color) !important;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: #222;
}

/* General, Quoetes, History */
div[style="background: #F2F7FF;width: fit-content;font: 20px Arial;"],
div[style="background: #F2F7FF; width: fit-content; font: 20px Arial;"] {
    background-color: #222 !important;
}

/* Ship name... */
div[style="border-style:solid;border-width:1px 1px 0px 1px;border-color:#a2a9b1;width:100%;background-color:#eaecf0;text-align:center;font-weight:bold;"],
div[style="border-style:solid; border-width:1px 1px 0px 1px; border-color:#a2a9b1; width:100%; background-color:#eaecf0; text-align:center; font-weight:bold"] {
    background-color: #222 !important;
    color: var(--main-text-color) !important
}

/* Ship chibi on the bottom-left */
div#talkingchibitext {
    background-color: #222 !important;
}

td[style="background-color:Lavender"],
th[style="background-color:lavender"] {
    background-color: #2c2c2c !important;
}

/* Skills */
th[style="background-color:Pink"] {
    background-color: #c70000 !important;
}
th[style="background-color:DeepSkyBlue"] {
    background-color: #000f9b !important;
}
th[style="background-color:Gold"] {
    background-color: #ff9100 !important;
}

ul.tabbernav li a {
    background: #000000 !important;
}

ul.tabbernav li a:hover {
    color: var(--main-txt-color) !important;
    border-color: #350053 !important;
    background: #011535 !important;
}

ul.tabbernav li.tabberactive a {
    background-color: #011535 !important;
    border-bottom: 1px solid #FFF !important;
}

/* TOC */
#toc, .toc, .mw-warning, .toccolours {
    background-color: #000000 !important;
}

/* Links at the bottom */
.catlinks {
    background-color: #000000 !important;
}

/* Retrofit*/

div[style="float:left;position:relative"] {
    color: #000000 !important;
}

/* Event Page */

div[style="border: 2px solid dimgray; border-radius: 0px 0px 8px 8px; text-align:center; color:#444444; width:134px; background-color:#eeeeee; padding: 2px 5px; font-size:12px"] b {
    color: #000000 !important;
}

/* Custom fixes
============ */

/* Custom background fixes*/
td[style="background-color:PowderBlue"],
td[style="background-color:PowderBlue;"],
td[style="background: PowderBlue;"],
td[style="background: PowderBlue"],
td[style="background-color: PowderBlue"],
td[style="background-color:PowderBlue; padding:2px 5px"] {
    background-color: #0e0042 !important;
    color: var(--main-text-color) !important;
}

td[style="background-color:NavajoWhite"],
td[style="background-color:NavajoWhite;"],
td[style="background-color:NavajoWhite; padding:2px 5px"] {
    background-color: #833f00 !important;
    color: var(--main-text-color) !important;
}
td[style="background-color:Pink"],
td[style="background-color:Pink;"],
td[style="background-color:Pink; padding:2px 5px"],
td[style="background-color:Pink; padding:2px 5px; padding:2px 5px"] {
    background-color: #750202 !important;
    color: var(--main-text-color) !important;
}

tr[style="background-color:Plum"],
tr[style="background-color:Plum;"],
td[style="background-color:Plum"],
td[style="background-color:Plum;"],
td[style="background: Plum;"],
td[style="background: Plum"],
td[style="background-color: Plum"],
td[style="background-color:Plum; padding:2px 5px"] {
    background-color: #5a0056 !important;
    color: var(--main-text-color) !important;
}

td[style="background-color:PaleGreen"],
td[style="background-color:PaleGreen;"],
td[style="background-color:PaleGreen; padding:2px 5px"] {
    background-color: #00380c !important;
    color: var(--main-text-color) !important;
}

td[style="background-color:Aquamarine"],
td[style="background-color:Aquamarine;"],
td[style="background-color:Aquamarine; padding:2px 5px"] {
    background-color: #002838 !important;
    color: var(--main-text-color) !important;
}

tr[style="background-color:PaleGoldenrod"],
td[style="background-color:PaleGoldenrod"],
td[style="background: PaleGoldenrod;"],
td[style="background-color:PaleGoldenrod;"] {
    background-color: #a04000 !important;
    color: var(--main-text-color) !important;
}

td[style="background-color:lightgreen;"],
td[style="background-color:lightgreen"],
td[style="background-color:lightgreen"][rowspan="2"],
td[style="background-color:LightGreen"] {
    background-color: #034d00 !important;
    color: var(--main-text-color)9 !important;
}

td[style="background-color:Gainsboro"] {
    color: #000000 !important;
}

td[style="background-color:gold"] {
    background-color: #ff9100 !important;
}

td[style="background-color:Lavender"],
th[style="background-color:lavender"] {
    background-color: #2c2c2c !important;
}

/* Ship Drop Table */
.mw-collapsible {
    background-color: var(--main-background-color) !important;
}

a span[style="color:#444444"],
a span[style="color:#444444;"] {
    color: var(--main-txt-color) !important;
}

/* Ultra Rare... */

td[style="background-color:background-image: -moz-linear-gradient(left, #ffdddd, #ddffdd 50%, #ddddff); background-image: -o-linear-gradient(left, #ffdddd, #ddffdd 50%, #ddddff); background-image: -webkit-linear-gradient(left, #ffdddd, #ddffdd 50%, #ddddff); background-image: linear-gradient(to right, #ffdddd, #ddffdd 50%, #ddddff);"]{
    color: #000000 !important;
}


/* General elements 
================ */

h1, h2, h3, h4, h5, b, p, td {
    color: var(--main-text-color) !important;
}

body {
    background-color: var(--main-background-color) !important;
}

td, tr {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

a {
    color: #2f85f5 !important;
}

a:visited {
    color: #544daa !important;
}
